services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - back-end

  backend:
    build: ./backend
    command: sh -c "python manage.py migrate --no-input && python manage.py collectstatic --no-input && gunicorn --bind 0.0.0.0:8000 core.wsgi:application"
    volumes:
      - ./backend:/app
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
    - .env
    environment:
      - POSTGRES_NAME=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - DEBUG=${DEBUG}
      - SECRET_KEY=${SECRET_KEY}
      - STORE_WHATSAPP_NUMBER=${STORE_WHATSAPP_NUMBER}
    depends_on:
      db:
        condition: service_healthy
    # healthcheck:
    #   test: [ "CMD", "curl", "-f", "http://localhost:8000/admin/login/" ]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 30s
    networks:
      - back-end

  frontend:
    build: ./frontend
    ports:
      - "8088:80"
    depends_on:
      - backend
    # healthcheck:
    #   test: [ "CMD", "curl", "-f", "http://localhost:80" ]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    networks:
      - front-end
      - back-end
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=front-end"
      - "traefik.http.routers.triplice-frontend.rule=Host(`store.triplice3d.com.br`)"
      - "traefik.http.routers.triplice-frontend.entrypoints=websecure"
      - "traefik.http.routers.triplice-frontend.tls.certresolver=myresolver"
      - "traefik.http.services.triplice-frontend.loadbalancer.server.port=80"

networks:
  front-end:
    external: true
  back-end:
    external: true

volumes:
  postgres_data:
  media_volume:
